<!DOCTYPE html>
<html lang="en">
<head>
  <title>Informations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- border syle -->
  <style>
 #container {
    display: flex;
    justify-content: space-between;
}


  </style>
</head>
<body>


{{ partial "header.html" . }} 

<!-- end header -->
<div class="jumbotron text-center text-white  bg-dark ">
  <div class="container" style="height: 100px;">
    <!-- 
    <h1>Documents</h1>
  -->
  </div>
</div>

<div class="container">
 
  <div class="row">
    <div class="col-sm-12" style="background-color:orange;"> 
      <p> {{ .Content }} </p>
    </div>

  </div>
  </div>
    

    






</body>
</html>