{{ define "main" }}

<div class="container-flex centered text-center text-black bg-info pt-5 mt-5 mb-1">
    <h1>
        {{ with .Site.Params.Description }}
        <span class="subheading">{{ . }}</span> {{ end }}
    </h1>
    {{ .Content }}
</div>

<p class="text-center text-info fs-1"> {{ .Title }}</p>

<div class="row">
    {{ range .Pages }}
    <div class="col fs-4 border  border-0 bg-light text-center">

        <a href="{{ .Permalink }}">{{ .Title }}</a> {{ end }}
    </div>
</div>
{{ end }}