<!-- Page Header -->
{{ partial "header.html" . }}

<header class="intro-header pt-lg-5" style="background-image: url('{{ .Site.BaseURL }}/Boni/small-meb.jpg')">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <div class="site-heading text text-center text-danger">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="list-group">
    {{ $data := .Data }} {{ range $key, $value := .Data.Terms.ByCount }}
    <div class="d-flex justify-content-center">
        <h5 class="mb-1">
            <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name | title }} :  {{ $value.Count }}</a>
        </h5>
    </div>
    {{ end }}
</div>
<!-- add footer-->

<h1 class="text-decoration-underline text-center bg-success">{{ partial "footer.html" . }}</h1>