<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ .Site.Title }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire|shadow-multiple">
    <style>
        body {
            font-family: "Sofia", serif;
        }
    </style>
</head>

<body>

    <div class="row">
        <div class="col-auto">
            <h3 class="font-effect-shadow-multiple bg-primary"> Quelle est notre Charte?</h3>
            <blockquote>Face à l'inertie du système qui nous condamne au niveau national à subir une crise écologique et sociale d’ampleur et le manque d’alternance politique sur Mennecy depuis plusieurs décennies, les signataires de cette liste ont décidé de s’unir
                pour construire une alternative démocratique, participative pour la défense des valeurs de l'écologie, de la justice sociale afin d’améliorer le cadre de vie des menneçois et faire de Mennecy une ville accueillante et agréable à vivre.
                Rassemblement citoyen et populaire , réunissant militant(e)s politiques, syndicaux, associatifs, citoyen(ne) volontaire …chacun affichant ou non son appartenance pour définir un programme pour MENNECY. </blockquote>
            <hr>
        </div>
    </div>
</body>

</html>