
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <div class="row">
                            <h1>{{ .Site.Params.meb }}</h1>
                            <h2>{{ .Site.Params.info }}</h2>
                            <h3>{{ .Site.Params.address }}</h3>
                            <h4>{{ .Site.Params.tel }}</h4>
                            <h4>{{ .Site.Params.email }}</h4>
                            <div class="container justify-content-between align-items-center">
                                <a href="mailto:{{ .Site.Params.email }}">
                                    <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="copyright text-muted">{{ .Site.Copyright }}</p>
                </div>
            </div>
            <div class="container centered">
                {{- with .Site.Params.social -}} {{- range sort . "weight" -}}
                <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{ end }}>
                    <span class="badge badge-primary badge-pill bg-danger font-effect-fire">{{ .name }}</span>
                </a>
                {{- end -}} {{- end -}}

                <p class="font-effect-shadow-multiple">&copy; MEB - Mennecy Echanges Boni {{ now.Format "2006" }} &middot;</p>
            </div>
    </footer>

