<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ .Site.Title }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire|shadow-multiple">
    <style>
        /*
        body {
            font-family: "Sofia", serif;
        }
        */
    </style>
</head>

<body>
    <div class="container-flex">
        <h3 class="font-effect-shadow-fire bg-primary">Presentation de Mennecy Echanges Boni - MEB</h3>
        <blockquote class="text-sm-start fs-6">
            Notre association entretient depuis 2002 des liens de confiance, d'amitié et de partenariat avec Boni, petite ville malienne située en zone sahélienne au centre du pays. Avec notre association sœur Boni-Echanges-Mennecy, nous œuvrons à améliorer les conditions
            de vie des habitants dans les domaines de l'éducation, de l'alimentation, de la santé et de la culture. La situation sécuritaire nous empêchant de nous rendre sur place, nous oblige à modifier notre mode de fonctionnement et de fait à limiter
            nos actions. Pour atténuer ces difficultés, nous nous sommes rapprochés du Conseil Départemental de l'Essonne qui, dans le cadre d'une coopération décentralisée avec le conseil de cercle de Douentza (Boni) porte de projets d'appui au développement
            avec le Mali.
        </blockquote>
        <hr>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>